body {
  background-color: black;
  color: white;
  font-family: "Archivo";
}

.headerA {
  border-bottom: 2px black solid;
  transition: all 0.5s;
}

.headerA:hover {
  border-bottom: 2px white solid;
}

.footerA {
  transition: all 0.5s;
  text-decoration: none;
  border-bottom: solid RGB(245, 151, 135) 1px;
}

.footerA:hover {
  border-bottom: 1px black solid;
}

.welcome {
  animation: fade 5s infinite;
  text-shadow: 0px 0px 10px RGB(255, 103, 92);
  color: RGB(255, 103, 92);
  border-bottom: 3px solid white;
  transition: all 2s;
}

#heart {
  width: 20px;
  animation: beat 5s infinite;
}

.main-container {
  padding: 0;
}
.project-image {
  width: 600px;
  height: auto;
}

.thumbnail {
  opacity: 1;
  transition: opacity 1s;
}

.overlay {
  opacity: 0;
  transition: all 1s;
  width: 65%;
}

.overlay:hover {
  opacity: 1;
}

.main-container:hover .thumbnail {
  opacity: 0.3;
}
.main-container:hover .overlay {
  opacity: 1;
}

.thumbnail:hover {
  opacity: 0.3;
}

.thumbnail:hover + .overlay {
  opacity: 1;
}

input:focus {
  outline: none;
}

.filterIcon {
  transition: all 0.01s;
}

.filterIcon:active {
  transform: translateY(3px);
}

.filterIcon:hover {
  cursor: pointer;
}

.filter-container {
  width: 50vw;
}

#red {
  color: red;
}
#orange {
  color: orange;
}
#yellow {
  color: rgb(221, 193, 37);
}
#green {
  color: green;
}
#blue {
  color: blue;
}
#indigo {
  color: indigo;
}
#purple {
  color: purple;
}

@keyframes fade {
  from {
    filter: brightness(0.8);
  }
  65% {
    filter: brightness(0.8);
  }
  70% {
    filter: brightness(1.2);
  }
  75% {
    filter: brightness(0.8);
  }
  80% {
    filter: brightness(1.2);
  }
  90% {
    filter: brightness(0.8);
  }
  100% {
    filter: brightness(0.8);
  }
}

@keyframes beat {
  from {
    width: 20px;
  }
  47% {
    width: 20px;
  }
  50% {
    width: 25px;
  }
  53% {
    width: 20px;
  }
  56% {
    width: 25px;
  }
  59% {
    width: 20px;
  }
  78% {
    width: 20px;
  }
  80% {
    width: 25px;
  }
  83% {
    width: 20px;
  }
  86% {
    width: 25px;
  }
  89% {
    width: 20px;
  }
}

@media screen and (max-width: 1014px) {
  .welcome {
    color: rgb(0, 255, 234);
    text-shadow: 0px 0px 40px RGB(0, 255, 234);
    border-bottom: none;
    border-top: solid 2px rgb(0, 255, 234);
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .card-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .project-image {
    width: 500px;
  }
}
@media screen and (min-width: 1350px) {
  .project-image {
    width: 700px;
  }
}
